.contacts {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog .contacts {
  background-color: $color-secondary;
}

.contacts__wrap {
  display: flex;
  flex-wrap: wrap;
}

.contacts__title {
  width: 140px;
  margin: 0;
  padding-right: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-secondary-font;
  text-transform: uppercase;
}

.contacts__adress {
  width: 140px;
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  font-family: $font-secondary;
}
