.goods__header {
  padding-top: 15px;
  padding-bottom: 28px;
}

.goods__title {
  margin: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $color-secondary-font;
}

@media (min-width: $tablet-width) {
  .goods {
    padding-top: 30px;
  }

  .goods__header {
    padding: 0;
  }

  .goods__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 23px;
  }
}
