.hamburger-btn {
  position: absolute;
  right: 0;

  background-repeat: no-repeat;
  border: none;

  &--show {
    top: 23px;

    width: 24px;
    height: 18px;

    background-image: url("../img/icon-mobile-menu.svg");
  }

  &--close {
    top: 19px;

    width: 18px;
    height: 18px;

    background-image: url("../img/icon-close.svg");
  }
}
