.map {
  position: relative;

  width: 100%;
  height: 362px;
  margin: 0 auto;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    top: 139px;
    left: 40%;

    width: 62px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.map__iframe {
  width: 100%;
  height: 362px;
}
