.page-header {
  color: $color-secondary-font;

  background-color: $color-main;
}

.page-header__wrap {
  position: relative;

  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 16px;

  color: $color-secondary-font;
}

.page-header__logo-img {
  width: 191px;
  height: 38px;
}

.page-header__nav-list {
  @include list-reset;
}




