.promo {
  margin-bottom: 22px;
}

.promo__title-wrap {
  min-height: 305px;
  padding-top: 27px;

  text-align: center;
  color: $color-interactive-text;

  background-color: #63a73a;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 1.5dppx) {
  .promo__title-wrap {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__img-wrap {
  position: relative;

  padding-top: 135px;
}

.promo__img {
  position: absolute;
  top: -139px;
  left: 50%;

  transform: translate(-50%);
}

@media (min-width: $tablet-width) {
  .promo {
    min-height: 810px;
    margin: 0;
    padding-top: 29px;
    padding-left: 117px;
    margin-bottom: 29px;
  }

  .promo__title-wrap {
    min-height: 0;
    padding: 0;

    text-align: left;

    background: none;
  }

  .promo__title {
    width: 427px;
    margin: 0;
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
    color: $color-secondary-font;
  }

  .promo__slogan {
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    color: $color-secondary-font;
  }

  .promo__img-wrap {
    padding-top: 0;
  }

  .promo__img {
    top: -28px;
    left: -88px;
    z-index: -1;

    transform: none;
  }

  .promo__link {
    width: 245px;
    margin-left: 2px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 20px;
    line-height: 20px;
  }
}
