.result {
  padding-top: 17px;
  padding-bottom: 36px;

  background-color: $color-secondary;
}

.result__title {
  margin: 0;
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $color-secondary-font;
}

.result__descr {
  width: 266px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-secondary;
}

.result__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
}

.result__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  margin-bottom: 34px;
  padding-top: 13px;
  padding-bottom: 17px;

  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

.result__item-value {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $color-secondary-font;
  text-transform: uppercase;
}

.result__item-category {
  position: absolute;
  top: 46px;

  width: 87px;
  margin: 0;

  font-size: 12px;
  line-height: 12px;
  font-family: $font-secondary;
  text-align: center;
  text-transform: lowercase;

  background-color: $color-secondary;
}

.result__diff-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__diff-title {
  margin: 0;
  margin-bottom: 34px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $color-secondary-font;
  text-transform: uppercase;
}

.result__diff-img {
  width: 320px;
  height: 240px;
  margin-bottom: 32px;
}

.result__diff-range-wrap {
  display: flex;
  justify-content: space-between;
  width: 202px;
  padding-left: 5px;
}

.result__diff-range-label {
  margin-top: 3px;
  display: block;
  width: 84px;
  height: 14px;
  background-color: $color-main;

  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.result__diff-range-descr {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  color: $color-secondary-font;
  text-transform: uppercase;
}
