.result {
  padding-top: 20px;
  padding-bottom: 37px;

  background-color: $color-secondary;
}

.result__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $color-secondary-font;
}

.result__descr {
  width: 266px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-secondary;
}

.result__list {
  display: flex;
  justify-content: space-between;

  @include list-reset;
}

.result__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  margin-bottom: 35px;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

.result__item-value {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $color-secondary-font;
  text-transform: uppercase;
}

.result__item-category {
  position: absolute;
  top: 47px;

  width: 87px;
  margin: 0;

  font-size: 12px;
  line-height: 12px;
  font-family: $font-secondary;
  text-align: center;
  text-transform: lowercase;

  background-color: $color-secondary;
}

.result__diff-title {
  margin: 0;
  margin-bottom: 42px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $color-secondary-font;
  text-transform: uppercase;
}

.result__diff-img {
  width: 320px;
  height: 240px;
  margin-bottom: 33px;
}

.result__diff-range-wrap {
  display: flex;
  justify-content: center;
}

.result__diff-range-descr {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  color: $color-secondary-font;
  text-transform: uppercase;
}

.result__diff-range-descr--before {
  margin-right: 20px;
}

.result__diff-range-descr--after {
  margin-left: 20px;
}
