.social-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  &:hover .social-item__link-icon-content,
  &:active .social-item__link-icon-content {
    fill: $color-interactive;
  }

  &:active .social-item__link-icon-content {
    opacity: 0.3;
  }
}
