$color-main: #ffffff;
$color-secondary: #f2f2f2;

$color-main-font: #444444;
$color-main-font-light: rgba(68,68,68,0.6);
$color-main-font-lighten: rgba(68,68,68,0.3);

$color-secondary-font: #111111;
$color-secondary-font-light: rgba(17,17,17,0.6);
$color-secondary-font-lighten: rgba(17,17,17,0.3);

$color-interactive: #68b738;
$color-interactive-text: #ffffff;
$color-interactive-text-light: rgba(255,255,255,0.6);
$color-interactive-text-lighten: rgba(255,255,255,0.3);
$color-error: #ff8282;

$font-main: "Oswald", Arial, sans-serif;
$font-secondary: Arial, sans-serif;
